/*import font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
/*import font from google fonts*/

/*initialize tailwind css*/
@tailwind base;
@layer base {
    @font-face {
        font-family: IRANSans;
        font-style: normal;
        font-weight: normal;
        src: url('Assets/fonts/eot/IRANSansWeb.eot');
        src: url('Assets/fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'), /* IE6-8 */ url('Assets/fonts/woff2/IRANSansWeb.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/ url('Assets/fonts/woff/IRANSansWeb.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url('Assets/fonts/ttf/IRANSansWeb.ttf') format('truetype');
    }
    body {
        @apply bg-[#fcfcfc]
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "RocknRoll One",IRANSans,sans-serif !important;
    }
    body {
        font-family:IRANSans,sans-serif;
    }
    *{
        margin: 0;
        padding: 0;
    }

}

@tailwind components;
@layer components {
    /* component style in header componetJsx */
    .contaier-icons {
        @apply flex items-center flex-row-reverse;
    }

    .navigation {
        @apply fixed top-0 left-0 w-full h-full bg-black-rgba z-[99] hidden
    }

    .menu {
        @apply absolute top-0 right-0 w-64 h-full bg-white leading-5 flex flex-col items-center justify-center gap-5 z-[100]
    }

    .showMenu {
        @apply block
    }

    .menu-desktop {
        @apply lg:flex lg:w-full lg:h-auto lg:bg-transparent py-16  lg:z-[99]  lg:items-center lg:flex-row-reverse
    }

    /* component style in header componetJsx */
    /*   home */
    .food-category {
        @apply bg-red-600 px-4 py-6 rounded-xl mt-4
    }

    .foodActiveCategory {
        @apply bg-white text-red-600  rounded-2xl px-3 py-2 text-xs
    }

    .header__shrink {
    @apply bg-white z-[99999] sticky top-0 left-0 shadow-Sticky
}
/* shopping-cart */
.cart_List {
    @apply  h-[calc(100vh+8.75rem)]
}
    .cart_bottom {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 20px;
        width: 100%;
        height: 80px;
        background: #df2020;
    }
}
@tailwind utilities;
@layer utilities {
    /* component style in header componetJsx */
    .mobile__icons , .user_icon , .cart_icon {
        @apply  font-bold text-[#212245] cursor-pointer text-xl
    }
    /* component style in header componetJsx */
/*common section */
    .common_Sections{
        @apply  bg-cover h-56 bg-no-repeat  opacity-50  py-20
    }
/*    pageinated*/
        .paginateBtns {
            @apply flex justify-center w-full  py-8 px-2 items-center gap-5
        }
    .paginateBtns a {
        @apply flex justify-center items-center bg-red-600 px-2 py-2 rounded-sm text-white
    }
/*    pageinated*/

/*common section */

}

.linear-customize {
    background: linear-gradient(#212245b2 , #212245b2),url("./config/images/banner.jpg") no-repeat;
    -webkit-background-size: cover;
    background-size: cover;;
}
textarea {
    resize: none;
}
